---
layout: default
---

{% include metadata.liquid %}
{% include header.html %}


<style>
    body {
        padding-top: 60px; 
    }


.speakers-section {
    text-align: center;
    padding: 50px 0;
    background-color: #f9f9f9;
}

.speakers-section h2 {
    margin-bottom: 30px;
    font-family: "Open Sauce", sans-serif;
    color: #030305;
}

/* Card Layout */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 35px 15px;
    padding: 0 40px;
    justify-items: center;
}

@media (min-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(5, 1fr); 
    }
}

        
.speaker-card {
    background-color: white;
    border-radius: 8px;
    max-width: 450px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Image Styling */
.speaker-card img {
    max-width: 220px; 
    height: 220px;
    border-radius: 50%;
    margin-bottom: 15px;
}

/* Speaker Name */
.speaker-card .speaker-name {
    font-family: "Open Sauce", sans-serif;
    font-size: 1.8rem; 
    font-weight: bold;
    color: #fc1b06;
    margin-bottom: 15px;
}

/* Red Line */
.speaker-card .red-line {
    width: 50px;
    height: 3px;
    background-color: #fc1b06;
    margin: 10px auto;
}

/* Title */
.speaker-card .title {
    font-family: "Open Sauce", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #030305;
    margin-bottom: 5px;
    text-align: left;
    width: 100%; 
}

/* Subtitle */
.speaker-card .subtitle {
    font-family: "Open Sauce", sans-serif;
    font-size: 1rem;
    color: #353535;
    margin-bottom: 15px;
    text-align: center;
    width: 100%; 
}

/* Description */
.speaker-card .description {
    font-family: "Open Sauce", sans-serif;
    font-size: 0.9rem;
    color: #353535;
    line-height: 1.5;
    text-align: left;
    margin-top: 10px;
}

.session-title {
    font-family: "Open Sauce", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #555;
    margin: 60px 0 25px; 
}

.session-title:first-of-type {
    margin-top: 20px;
}

</style>


<main class="my-4">
    <div class="container">
        <h1 class="display-5">{{ title }}</h1>
        {{ content }}
        {% if site.data.organizers %}
        <hr class="my-4">
        {% assign groups = site.data.organizers.groups %}
        {% for group in groups %}
        {% if group.title %}
        <h5 class="fw-normal">{{ group.title }}</h5>
        {% endif %}
        {% if group.columns %}
        {% assign div = ' id="roster"' %}
        {% else %}
        {% assign div = '' %}
        {% endif %}
        <div {{ div }}>
            <ul class="list-unstyled">
                <!-- {% assign members = group.members | sort_natural: 'surname' %} -->
                {% assign members = group.members %}
                {% for member in members %}
                {% assign full = member.name | append: ' ' | append: member.surname | append: ' (' | append: member.affiliation | append: ')' %}
                {% if member.email %}
                <li class="fw-light"><a href="mailto:{{ member.email }}">{{ full }}</a></li>
                {% else %}
                <li class="fw-light">{{ full }}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</main>

{% include footer.html %}
